{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Усі Фільми</h1>
    {% for film in all_films %}
        <hr>    
        <h2>{{film.name}}</h2>
        <p><img src="{{ film.preview.url }}"></p>
        <p>{{film.description}}</p>
        <p><button class = "add-to-favourite" value="{% url 'add_to_favourite' film.pk %}">Додати до улюбленого</button></p>
    {% endfor %}
{% endblock %}

{% block script %}
<script src="{% static 'film_app/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'film_app/js/ajax.js' %}"></script>
{% endblock %}